<div tabindex="0">
    <button type="button" ng-click="up()" id="{{upId}}">
        Up
    </button>
    <ul>
        <li ng-repeat="item in items track by $index">
            <a href id="{{itemId}}{{$index}}"
                tabindex="-1"
                ng-click="onSelect($index)"
                ng-focus="onFocus(item, $event)"
                ng-blur="onBlur(item, $event)"
                ng-class="item.focussed"
                ng-keypress="onKeydown(item)">
                <h2>{{item.title}}</h2>
            </a>
        </li>
    </ul>
    <button type="button" ng-click="down()" id="{{downId}}">
        Down
    </button>
</div>
