h1 {color: red;}

.content {display: flex;flex-direction: row;}

nav ul {height: 200px;overflow: hidden;}
nav li {height: 50px; padding: 0;margin: 0;overflow: hidden;}
nav li h2 {margin:0;}

.focussed {color: orange;}

@media (max-width: 720px) {
    .content {display: flex;flex-direction: column-reverse;justify-content: center;}
    .player {text-align: center;}
}